*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedores{
    padding: 40px;
    background-color: gray;
}

.todo{
    display: flex;
    padding: 30px;
}

.encabezado{
    padding: 30px;
}